.newsAct2{
    padding: 2em;
}

.newsActName{
    font-weight: bold;
}

.newsActField{
    color:blue;
}
.newsActImage{
    background-color: red;
    text-align: center;
}

.buttonyNews{
    text-align: center;
}
.titleHeadercontent{
    padding-top: 4em;
}
.newsField{
    height: 200px;
    width: 100%;
}
textarea, textarea.form-control, select, select.form-control{
    border-radius: 0 !important;
}
.addNewsActuallyContent{
    margin: 2em;
    padding: 2em;
}
.newsActuallyContent{
    padding-top: 10%;
    padding-bottom: 10%;
}