.table{
    width: 680px;
   	margin: auto;
    font-size: 14px;
    border-collapse: collapse;
    padding: 3em 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.table td {
    vertical-align: middle;
    text-align: left;
    max-width: 500px;
    padding: 1em;
 }
 .MuiTypography-body1-107{
     color : white !important;
 }