.MuiTypography-root-1{
    padding: 1em;
}
.MuiTypography-body1-10{
    color: #1de9b6 !important;
}
.settings {
    display: grid;
    height: 535px;
    width: 200px;
    padding: 2em;
    border-radius: 5%;
}
.imgStyle{
    width: 300px;
    height: 300px;
    cursor: pointer;
}
.nameStyle{
    height: 20px;
    border-radius: 5%;
}
.buttonContainer{
    padding: 1em;
}
.buttonOnSettings{
    margin: 5px;
    padding: 1em;
    text-align: left;
}
.cursorPointer{
    cursor: pointer;
}
.buttonImage{
    padding: 1em;
    text-align: center;
}