.App {
  text-align: center;
  height: inherit;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 5vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#root{
      font-family: "Lato";
    display: flex;
    font-weight: 300;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background: #171919;
  background:-webkit-linear-gradient(top, #6589b1 0%, #32393c 100%);
}